{% autoescape off %}

We're sorry, but we were unable to activate your account. This may be due to an invalid or expired activation link.
Please try registering again or contact support for assistance.

{% endautoescape %}

{% comment %} <!-- activation_failed.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Activation Failed</title>
</head>
<body>
    <h1>Account Activation Failed</h1>
    <p>We're sorry, but we were unable to activate your account. This may be due to an invalid or expired activation link.</p>
    <p>Please try registering again or contact support for assistance.</p>
</body>
</html> {% endcomment %}
