<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/5135d630a7.js" crossorigin="anonymous"></script>
  <style>
      .dropdown-menu {
          z-index: 2000 !important; /* Ensure it's on top of other elements */
          display: none;
          visibility: hidden;
      }
      .dropdown-menu.show {
          visibility: visible;
      }
      .submenu {
          color: black;
          text-decoration: none;
      }
      .submenu:hover {
          color: rgb(110, 139, 149);
          text-decoration: none;
      }
      .notification {
          background-color: transparent;
          color: #124838;
          padding: 4px;
          margin: 0 10px;
          position: relative;
          display: inline-block;
          border-radius: 2px;
          font-size: 20px;
      }
      .notification:hover {
          color: #e9b142;
      }
      .notification .badge {
          position: absolute;
          top: -10px;
          right: -10px;
          padding: 5px 10px;
          border-radius: 50%;
          background: red;
          color: white;
      }
      .notification .fa-bell {
        color: #124838;
      }
      .fa-bell:hover {
          color: #e9b142;
      }
      .see-all-notifications {
        color: #4CAF50; 
        font-weight: bold; 
        display: block; 
        padding: 10px; 
        text-align: center; 
      }
      .see-all-notifications:hover {
          color: #388E3C; 
          text-decoration: underline; 
      }
      .notification-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      .notification-item.unread {
          background-color: #f5f5f5;
          font-weight: bold;
      }
  </style>
</head>
<body style="background-color: rgb(247, 239, 215)">
  <div class="container">
      {% if request.user.is_authenticated %}
      <div class="d-flex justify-content-end align-items-center">
        
          <a class="submenu" href="{% url 'baseapp:order_history' request.user.username %}">
              <span class="uil uil-bill"></span>
              <span>Orders</span>
          </a>
          <a class="ms-2 ms-md-3 submenu" href="{% url 'baseapp:upload_history' request.user.username %}">
                <span class="uil uil-file-heart"></span>
                <span class="fs-10 fs-sm-9">Uploads</span>
          </a>
          <a class="ms-2 ms-md-3 submenu" href="{% url 'baseapp:cart' %}"
                ><span class="uil uil-shopping-cart"></span
                ><span class="fs-10 fs-sm-9">Cart</span>
          </a>

          <!-- Notification Dropdown -->
          <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle notification" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='ms-1 fas fa-bell'></i>
              {% if unread_count > 0 %}
              <span class="badge">{{ unread_count }}</span>
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="notificationList">
              <!-- Notifications will be injected here -->
            </ul>
          </div>

          <!-- Account Dropdown -->
          <div class="dropdown">
            <!-- <button class="btn btn-secondary dropdown-toggle submenu" type="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="uil uil-user-circle"></span>
                <span>Account</span>
            </button> -->
            <a class="submenu dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="uil uil-user-circle"></span>
              <span class="fs-10 fs-sm-9">Account</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <li><a class="dropdown-item font-semibold" href="{% url 'baseapp:user_profile' request.user.username %}">My Profile</a></li>
                <li><a class="dropdown-item font-semibold" href="{% url 'baseapp:change_password' %}">Change Password</a></li>
                <li><a class="dropdown-item font-semibold" href="{% url 'baseapp:upload_history' request.user.username %}">Upload History</a></li>
                <li><a class="dropdown-item font-semibold" href="{% url 'baseapp:signout' %}">Logout</a></li>
            </ul>
          </div>

        </div>              
            {% else %}
            <div class="d-flex justify-content-end align-items-center">
              <!-- <a class="ms-2 ms-md-3 submenu" href="#!"
                ><span class="uil uil-bill"></span
                ><span class="ms-1 fs-10 fs-sm-9">sale</span></a
              ><a class="ms-2 ms-md-3 submenu" href="#!"
                ><span class="uil uil-file-heart"></span
                ><span class="ms-1 fs-10 fs-sm-9">wishlist</span></a> -->
              <a class="ms-2 ms-md-3 submenu" href="#!"
                ><span class="uil uil-shopping-cart"></span
                ><span class="ms-1 fs-10 fs-sm-9">cart</span>
              </a>
              <a class="ms-2 ms-md-3 submenu" href="{% url 'baseapp:signin' %}"
                ><span class="uil uil-user-circle"></span
                ><span class="ms-1 fs-10 fs-sm-9">Login/Sign Up</span>
              </a>
              {% endif %}
            </div>
          </div>
          <nav
            class="navbar navbar-expand-lg py-1"
            id="navbar-top"
            data-navbar-soft-on-scroll="data-navbar-soft-on-scroll"
          >
            <div class="container">
              <a class="navbar-brand me-lg-auto cursor-pointer" href="/"
                ><img
                  class="w-50 w-md-100 img-fluid"
                  src="{% static 'img/logos/logoo.png' %}"
                  alt=""
              /></a>
              <button
                class="navbar-toggler border-0 pe-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
                data-navbar-collapse="data-navbar-collapse"
              >
                <div
                  class="container d-lg-flex justify-content-lg-end pe-lg-0 w-lg-100"
                >
                  <form
                    class="form-inline position-relative w-lg-50 ms-lg-4 ms-xl-9 mt-3 mt-lg-0"
                    onsubmit="return false;"
                  >
                    <input
                      class="search fs-8 bg-transparent form-control"
                      type="search"
                      name="search"
                      placeholder="search..."
                    />
                    <div class="search-icon">
                      <span class="uil uil-search"></span>
                    </div>
                  </form>
                  <ul
                    class="navbar-nav mt-2 mt-lg-1 ms-lg-4 ms-xl-8 ms-2xl-9 gap-lg-x1"
                    data-navbar-nav="data-navbar-nav"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="{% url 'baseapp:home' %}"
                        title="home"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="{% url 'baseapp:catalog' %}"
                        title="catalog"
                        >Catalog</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="{% url 'baseapp:know_before' %}"
                        title="info"
                        >Animal info</a
                      >

                    </li>
                    <!-- <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="#review"
                        title="reviews"
                        >Reviews</a
                      >
                    </li> -->
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="{% url 'baseapp:list_tickets' %}"
                        title="support"
                        >Support</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    
          {{ room_name|json_script:"room-name" }}

        </div>
      </div>
    </div>
  </main>
</body>

<!-- <script>
  const roomName = JSON.parse(document.getElementById('room-name').textContent);

  const NotificationSocket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/notification/'
      + roomName
      + '/'
  );

  NotificationSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      console.log(data);
      document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>"+ document.getElementById("notifications-dropdown").innerHTML;
      document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
  };

  NotificationSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
</script> -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const dropdownButton = document.getElementById('dropdownMenuButton1');
      if (dropdownButton) {
          dropdownButton.addEventListener('click', () => {
              console.log('Dropdown button clicked, fetching notifications...');
              fetchNotifications(true);
              updateUnreadNotificationCount();
          });
      }

      // Adding event listener to the notification list for handling clicks
      const notificationList = document.getElementById('notificationList');
      notificationList.addEventListener('click', function(event) {
          let targetElement = event.target;
          while (targetElement && !targetElement.href) {
              targetElement = targetElement.parentNode;
          }
          if (targetElement && targetElement.hasAttribute('data-notification-id')) {
              event.preventDefault(); // Prevent the link from navigating immediately
              const notificationId = targetElement.getAttribute('data-notification-id');
              markAsRead(notificationId, targetElement.href);
          }
      });
  });

  function fetchNotifications(markRead = false) {
    const url = `{% url 'baseapp:get_notifications' %}?mark_read=${markRead}`;
    fetch(url)
    .then(response => response.json())
    .then(data => {
        const notificationList = document.getElementById('notificationList');
        notificationList.innerHTML = '';
        const notificationsToShow = data.notifications.slice(0, 5);
        notificationsToShow.forEach(notification => {
            const listItem = document.createElement('li');
            listItem.className = 'dropdown-item notification-item' + (notification.read ? '' : ' unread');
            
            const link = document.createElement('a');
            link.setAttribute('data-notification-id', notification.id);
            if (notification.url) {
                link.href = notification.url;
            }
            
            // Creating the main content of the notification
            const titleMessage = document.createElement('div');
            titleMessage.textContent = `${notification.title} - ${notification.message}`;
            link.appendChild(titleMessage);

            // Adding a "Tap to view" text
            const tapToView = document.createElement('span');
            tapToView.textContent = 'Tap to view';
            tapToView.style.fontSize = 'smaller';
            tapToView.style.display = 'block';
            tapToView.style.color = '#666';
            link.appendChild(tapToView);

            // Adding the date-time stamp
            const dateTime = document.createElement('span');
            dateTime.textContent = new Date(notification.created_at).toLocaleString();
            dateTime.style.fontSize = 'smaller';
            dateTime.style.display = 'block';
            dateTime.style.color = '#999';
            link.appendChild(dateTime);

            listItem.appendChild(link);
            notificationList.appendChild(listItem);
        });
        appendSeeAllNotificationsLink(notificationList);
    })
    .catch(error => console.error('Error loading notifications:', error));
  }

  function markAsRead(notificationId, redirectUrl) {
      const url = `{% url 'baseapp:mark_as_read' 999 %}`.replace('999', notificationId);
      fetch(url)
      .then(response => {
          if (response.ok) {
              console.log('Notification marked as read.');
              if (redirectUrl) {
                  window.location.href = redirectUrl; // Navigate to the link after marking as read
              }
              // fetchNotifications();  // Refresh the list
          }
      })
      .catch(error => console.error('Error:', error));
  }

  function appendSeeAllNotificationsLink(notificationList) {
      const seeAllItem = document.createElement('li');
      seeAllItem.className = 'dropdown-item';
      const seeAllLink = document.createElement('a');
      seeAllLink.href = '{% url "baseapp:notification_list" %}';
      seeAllLink.textContent = 'See All Notifications';
      seeAllLink.className = 'see-all-notifications';
      seeAllItem.appendChild(seeAllLink);
      notificationList.appendChild(seeAllItem);
  }

  function updateUnreadNotificationCount() {
      fetch("{% url 'baseapp:unread_count' %}")
      .then(response => response.json())
      .then(data => {
          const badge = document.querySelector('.notification .badge');
          if (badge) {
              badge.textContent = data.unread_count;  // Update the count dynamically
          }
      })
      .catch(error => console.error('Error updating unread notification count:', error));
  }

  // Fetching notifications every 30 seconds to update the list
  setInterval(fetchNotifications, 30000);
  document.addEventListener('DOMContentLoaded', fetchNotifications);  // Initial fetch on page load
</script>

<script>
  const wsStart = 'ws://';
  const endpoint = wsStart + window.location.host + '/ws/notifications/';
  const socket = new WebSocket(endpoint);
  
  socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log('Notification:', data.message);
    // Calling fetchNotifications to update the list
    fetchNotifications();
  }
  
  socket.onopen = function(e) {
    console.log('WebSocket open', e);
  }
  
  socket.onerror = function(e) {
    console.log('WebSocket error', e);
  }
  
  socket.onclose = function(e) {
    console.log('WebSocket closed', e);
  }
</script>
  
</html>