{% extends 'main.html' %}

{% block content %}
<div class="order-status-container">
    <div class="order-status">
        <h2>Order Status</h2>
        <br>
        <div class="order-details">
            <div class="order-items">
                <h3>Items Ordered:</h3>
                <pre>{{ order.items_summary }}</pre>
            </div>
            <div class="order-total">
                <h3>Total Cost:</h3>
                <p>${{ order.total_cost }}</p>
            </div>
            <p><strong>Order ID:</strong> <span>{{ order.id }}</span></p>
            <p><strong>User:</strong> <span>{{ order.user.username }}</span></p>
            <p><strong>Name:</strong> <span>{{ order.name }}</span></p>
            <p><strong>Email:</strong> <span>{{ order.email }}</span></p>
            <p><strong>Phone:</strong> <span>{{ order.phone }}</span></p>
            <p><strong>City:</strong> <span>{{ order.city }}</span></p>
            <p><strong>State:</strong> <span>{{ order.state }}</span></p>
            <p><strong>Address:</strong> <span>{{ order.address }}</span></p>
            <p><strong>Payment Status:</strong> <span>{{ order.payment_status|yesno:"Paid,Not Paid" }}</span></p>
        </div>
        <div class="loader-wrapper">
            <div class="loader"></div>
            <div class="loader-text">Processing your order...</div>
        </div>
        <button id="pay-now" class="btn-pay-now" onclick="location.href='{% url 'baseapp:create_stripe_session' order.id %}'" style="display:none;">Pay Now</button>
    </div>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.order-status {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
}

.order-details p {
    font-size: 1rem;
    text-align: left;
    color: #333;
    margin: 0.5rem 0;
}

.order-details strong {
    font-weight: 600;
}

.order-items h3, .order-total h3 {
    font-weight: bold;
    text-align: left;
    font-size: large;
    color: #333;
}



.order-items pre, .order-total p {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: left;
}

.loader-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ddd;
    margin-top: 2rem;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    animation: fill 10s forwards;
}

@keyframes fill {
    0% { width: 0%; }
    100% { width: 100%; }
}

.loader-text {
    font-weight: 700;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: white;
}

.btn-pay-now {
    font-weight: 700;
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-pay-now:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}
</style>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    setTimeout(() => {
        document.querySelector('.loader-wrapper').style.display = 'none';
        document.getElementById('pay-now').style.display = 'block';
    }, 5000); // 10 seconds delay
});

</script>
{% endblock %}
