{% extends 'main.html' %}
{% block title %}Add Animal{% endblock title %}
{% block content %}
<div class="min-h-screen flex flex-col justify-center">
    <div class="container mx-auto p-4 bg-yellow-50 rounded-lg shadow-md">
            <div class="w-full max-w-2xl mx-auto bg-white p-5 rounded-lg shadow">
 
        <form action="{% url 'baseapp:add_animal' %}" method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            <h2 class="text-xl font-semibold text-gray-800 mt-n1">Add a New Animal</h2>

            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Name:<span class="text-red-500">*</span></label>
                    <input type="text" id="title" name="title" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="age" class="block text-gray-700 text-sm font-bold mb-2">Age (months):<span class="text-red-500">*</span></label>
                    <input type="number" id="age" name="age" class="w-full p-2 border rounded bg-white text-black" min="1" max="240" placeholder="Enter age in months" required>
                </div>                
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="breed" class="block text-gray-700 text-sm font-bold mb-2">Breed:<span class="text-red-500">*</span></label>
                    <input type="text" id="breed" name="breed" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location:<span class="text-red-500">*</span></label>
                    <input type="text" id="location" name="location" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full px-2 mb-3">
                    <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description:<span class="text-red-500">*</span></label>
                    <textarea id="description" name="description" rows="4" class="w-full p-2 border rounded bg-white text-black" required></textarea>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="contact" class="block text-gray-700 text-sm font-bold mb-2">Contact Number:<span class="text-red-500">*</span></label>
                    <input type="text" id="contact" name="contact" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="picture" class="block text-gray-700 text-sm font-bold mb-2">Add Picture:</label>
                    <input type="file" id="picture" name="picture" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="video" class="block text-gray-700 text-sm font-bold mb-2">Upload Video:</label>
                    <input type="file" id="video" name="video" accept="video/" class="w-full p-2 border rounded bg-white text-black">
                </div>
                {% comment %} <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="picture" class="block text-gray-700 text-sm font-bold mb-2">Picture:</label>
                    <input type="file" id="picture" name="picture" class="w-full p-2 border rounded bg-white text-black">
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="video" class="block text-gray-700 text-sm font-bold mb-2">Video:</label>
                    <input type="file" id="video" name="video" class="w-full p-2 border rounded bg-white text-black">
                </div> {% endcomment %}
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="vaccinated" class="block text-gray-700 text-sm font-bold mb-2">Vaccinated:<span class="text-red-500">*</span></label>
                    <select id="vaccinated" name="vaccinated" class="w-full p-2 border rounded bg-white text-black">
                        <option value="" disabled selected>Select an option</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <label for="available_for" class="block text-gray-700 text-sm font-bold mb-2">Available for:<span class="text-red-500">*</span></label>
                    <select id="available_for" name="available_for" class="w-full p-2 border rounded bg-white text-black">
                        <option value="" disabled selected>Select an option</option>
                        <option value="Adoption">Adoption</option>
                        <option value="Daycare">Daycare</option>
                    </select>
                </div>
                                              
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
