{% extends 'main.html' %}
{% block title %}Admin Dashboard{% endblock title %}
{% block content %}
<div class="container mx-auto px-6 py-8 bg-gray-100">
    <!-- First Row -->
    <div class="flex flex-wrap -m-4">
        <!-- Manage Animal Uploads Card -->
        <div class="w-full md:w-1/2 p-4">
            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                <img class="h-56 w-full object-cover object-center opacity-75" src="/assets/img/animals-bg.jpg" alt="Manage Animal Uploads">
                <div class="absolute inset-0 flex items-center justify-center">
                    <a href="{% url 'baseapp:manage_animals' %}" class="text-white font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-50 bg-black p-5 rounded">
                        Manage Animal Uploads
                    </a>
                </div>
            </div>
        </div>

        <!-- Manage Petcare Products Card -->
        <div class="w-full md:w-1/2 p-4">
            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                <img class="h-56 w-full object-cover object-center opacity-75" src="/assets/img/petcare-products-bg.jpeg" alt="Manage Petcare Products">
                <div class="absolute inset-0 flex items-center justify-center">
                    <a href="{% url 'baseapp:manage_accessories' %}" class="text-white font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-50 bg-black p-5 rounded">
                        Manage Petcare Products
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="flex justify-center -m-4">

        <!-- <div class="w-full md:w-1/2 p-4">
            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                <img class="h-56 w-full object-cover object-center opacity-75" src="/assets/img/users-bg.jpg" alt="Manage Users">
                <div class="absolute inset-0 flex items-center justify-center">
                    <a href="" class="text-white font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-50 bg-black p-5 rounded">
                        Manage Users
                    </a>
                </div>
            </div>
        </div> -->

        <!-- Placeholder for the fourth card -->
        <div class="w-full md:w-1/2 p-4">
            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                <!-- Placeholder Image -->
                <img class="h-56 w-full object-cover object-center opacity-75" src="/assets/img/placeholder-bg.jpg" alt="Orders & Requests">
                <div class="absolute inset-0 flex items-center justify-center">
                    <!-- Placeholder Text -->
                  <a href="" class="text-white font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-50 bg-black p-5 rounded">
                     Manage Orders
                  </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
```