{% extends 'main.html' %}

{% block title %}My Cart{% endblock %}

{% block extra_css %}
<style>
    /* Base and Theme Styles */
    :root {
        --main-bg-color: #f0f0f0;
        --container-bg-color: #ffffff;
        --accent-color: #26496e;
        --hover-accent-color: #0056b3;
        --font-color: #333;
        --link-color: #0056b3;
        --link-hover-color: #004080;
    }

    body {
        background-color: var(--main-bg-color);
    }

    /* Container Styles */
    .cart-container {
        max-width: 1000px;
        margin: auto;
        padding: 2rem;
        background-color: var(--container-bg-color);
        border-radius: 0.5rem;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

    /* Cart Item Styles */
    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #eeeeee;
        border-radius: 0.5rem;
        transition: box-shadow 0.3s ease;
    }
    .cart-item:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .cart-item img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        margin-right: 1rem;
        border-radius: 0.25rem;
    }

    .cart-details {
        flex-grow: 1;
        color: var(--font-color);
    }

    /* Cart Actions Styles */
    .cart-actions {
        display: flex;
        align-items: center;
    }

    .cart-actions button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .fas {
        color: var(--accent-color);
    }

    .fas.fa-trash-alt {
        color: #e44d26;
    }

    /* Adjustment buttons specifically */
    .adjust-buttons {
        display: flex;
        align-items: center;
        margin-right: 10px; /* Spacing between quantity and adjust buttons */
    }
    .adjust-buttons button, .adjust-buttons span {
        margin: 0 5px; /* Spacing between buttons and quantity */
    }

    .quantity-value {
        font-size: 1.2rem; /* Larger font size for quantity value */
        color: #333; /* Dark color for better visibility */
        margin: 0 10px; /* Space around the quantity value */
    }
    
    .remove-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .remove-button button:hover::after {
        content: 'Remove';
        font-size: 0.8rem;
        color: #fff;
        background-color: #e44d26;
        padding: 3px 6px;
        border-radius: 4px;
        margin-left: 10px;
    }

    /* Total Price and Button Container Styles */
    .total-price, .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--font-color);
        margin-bottom: 2rem;
    }

    /* Continue Shopping Link */
    .continue-shopping {
        font-size: 0.9rem;
        color: var(--link-color);
        text-decoration: none;
    }

    .continue-shopping:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    /* Place Order Button CSS */
    .place-order-btn {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .place-order-btn:hover {
        background-color: #45a049;
        transform: translateY(-2px);
    }

</style>
{% endblock extra_css %}

{% block content %}
<div class="cart-container">
    <h2 class="text-3xl font-bold mb-5" style="color: var(--font-color);">Shopping Cart</h2>
    {% if items %}
    <div id="cartItems">
        {% for item in items %}
        <div class="cart-item">
            {% if item.accessory.picture %}
            <img src="{{ item.accessory.picture.url }}" alt="{{ item.accessory.title }}">
            {% else %}
            <img src="">
            {% endif %}
            <div class="cart-details">
                <p class="text-lg">{{ item.accessory.title }}</p>
                <div class="cart-item-quantity-price text-sm mb-2">
                    <div class="price">Price: ${{ item.accessory.price }} each</div>
                    <div class="quantity">Quantity: <strong>{{ item.quantity }}</strong></div>
                </div>
            </div>
            <div class="cart-actions">
                <div class="adjust-buttons">
                    <a href="{% url 'baseapp:adjust_cart_item' item.id 'subtract' %}">
                        <button>
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    </a>
                    <span class="quantity-value">{{ item.quantity }}</span>
                    <a href="{% url 'baseapp:adjust_cart_item' item.id 'add' %}">
                        <button>
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </a>
                </div>
                <div class="remove-button">
                    <a href="{% url 'baseapp:remove_from_cart' item.id %}">
                        <button>
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="total-price">
        <p>Total Price:</p>
        <p>${{ total_price }}</p>
    </div>
    <div class="button-container">
        <a href="{% url 'baseapp:products_for_sale' %}" class="continue-shopping">Continue Shopping >></a>
        <button class="place-order-btn" onclick="location.href='{% url 'baseapp:place_order' %}'">Proceed to Checkout</button>
    </div>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
