{% extends 'main.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center">
    <div class="container mx-auto p-4 bg-white rounded-lg shadow-md">
        <div class="w-full max-w-2xl mx-auto bg-white p-8 rounded-lg shadow">
        
        <form action="{% url 'baseapp:change_password' %}" method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            <h2 class="text-xl font-semibold text-gray-800">Change Password</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/2 px-2 mb-6">
                    <label for="old_pass" class="block text-gray-700 text-sm font-bold mb-2">Current Password:</label>
                    <input type="text" id="old_pass" name="old_pass" value="" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <!-- <div class="w-full md:w-1/2 px-2 mb-6">
                    <label for="age" class="block text-gray-700 text-sm font-bold mb-2">Age (months):</label>
                    <input type="number" id="age" name="age" value="{{ animal.age }}" class="w-full p-2 border rounded bg-white text-black" min="1" max="240" required>
                </div>                 -->
                
                <div class="w-full md:w-1/2 px-2 mb-6">
                    <label for="pass1" class="block text-gray-700 text-sm font-bold mb-2">New Password:</label>
                    <input type="text" id="pass1" name="pass1" value="" class="w-full p-2 border rounded bg-white text-black" required>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-6">
                    <label for="pass2" class="block text-gray-700 text-sm font-bold mb-2">Re-Enter New Password:</label>
                    <input type="text" id="pass2" name="pass2" value="" class="w-full p-2 border rounded bg-white text-black" required>
                </div>                         
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Update Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
