<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Know Before</title>
</head>
<body>
   <h1>Know Before Adoption</h1>
   <a href="{% url 'baseapp:know_before_cat' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
       CAT
   </a>
   <div> <!-- Wrap DOG link in a div -->
       <a href="{% url 'baseapp:know_before_dog' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
           DOG
       </a>
   </div>


  
  
</html>


