{% extends 'main.html' %}

{% block title %}Payment Success{% endblock title %}

{% block content %}

<style>

.payment-success {
    background: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 50px 0;
}

.success-container {
    max-width: 800px; /* Increased width */
    margin: auto;
    padding: 40px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2); /* Enhanced shadow */
}

.success-animation {
    /* Add styles for your animation here */
}

.success-title {
    font-size: 32px; /* Increased font size */
    font-weight: bold; /* Make text bold */
    color: #4CAF50;
    margin: 20px 0;
}

.success-details {
    font-size: 16px;
    margin-bottom: 30px;
}

.customer-support p {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-continue {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-continue:hover {
    background-color: #45A049;
}

.icon-tick-circle {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
}

.tick-circle {
    fill: #4CAF50; /* Green circle */
}

.tick-check {
    stroke: #ffffff; /* White checkmark */
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

</style>
<div class="payment-success">
    <div class="success-container">
        <div class="success-animation">
            <!-- Include a celebratory animation here -->
        </div>
        <svg class="icon-tick-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="tick-circle" cx="26" cy="26" r="25" fill="#4CAF50"/>
            <polyline class="tick-check" fill="none" stroke="#ffffff" stroke-width="5" points="14,27 22,35 38,17"/>
        </svg>
        <h1 class="success-title">Thank You for Your Purchase!</h1>
        <p class="success-details">Your payment has been processed successfully. A confirmation email has been sent to you.</p>
        </div>
        <a href="{% url 'baseapp:products_for_sale' %}" class="btn-continue">Continue Shopping</a>
    </div>
</div>
{% endblock content %}
