{% extends 'main.html' %}
{% load static %}
{% block title %}Dashboard - Animal Welfare{% endblock title %}
{% block content %}
          <div class="container mt-n8" data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0">
            <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-9" id="home">
                <div class="container mx-auto px-6 py-8">
                    <!-- First Row -->
                    <div class="flex flex-wrap -m-10 -mt-20">

                        <div class="w-full md:w-1/2 p-4">
                            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                                <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/adopt.jpg' %}" alt="">
                                <div class="absolute inset-0 flex items-center justify-center">
                                    <a href="{% url 'baseapp:animals_for_adoption' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-1 bg-transparent p-5 rounded">
                                       Want to Adopt Pet?
                                    </a>
                                </div>
                            </div>
                        </div>
                
                        <div class="w-full md:w-1/2 p-4">
                            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                                <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/daycare.jpg' %}" alt="">
                                <div class="absolute inset-0 flex items-center justify-center">
                                    <a href="{% url 'baseapp:animals_for_daycare' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                        Up for Daycare!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex justify-center pt-5 md:pt-20">
                      <div class="w-full md:w-1/2 p-4">
                          <!-- Card Container -->
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/petcare.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <!-- Button -->
                                  <a href="{% url 'baseapp:products_for_sale' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded flex items-center justify-center">
                                      Browse Petcare Products
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  
                  
                  <!-- Second Row -->
                  <div class="flex flex-wrap -m-4">
                      <!-- Manage Users Card -->
                      <div class="w-full md:w-1/2 p-4">
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/facts.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <a href="{% url 'baseapp:animal_info' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                      Learn Animal Facts
                                  </a>
                              </div>
                          </div>
                      </div>
                      
                      <!-- Manage Users Card -->
                      <div class="w-full md:w-1/2 p-4">
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/know.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <a href="{% url 'baseapp:know_before' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                      Know before adoption
                                  </a>
                              </div>
                          </div>
                      </div>
                      
                      

                  </div> 
                </div>
                
                <div class="row g-4 g-lg-6 g-xl-7 align-items-center">
                  <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <p class="fs-8 fs-md-7 fs-xxl-6 text-success fw-bold mb-x1 text-capitalize">
                      we've got you covered
                    </p>
                    <h1 class="fs-5 fs-md-3 fs-xxl-2 text-secondary text-capitalize fw-light mb-4">
                      From the popular to the <span class="fw-bold">rare</span>, find your perfect match.
                    </h1>
                    <button class="btn btn-gradient fs-8 d-inline-flex">
                      <span>Explore Catalog</span>
                      <span class="uil uil-arrow-right"></span>
                    </button>
                  </div>
                  <div class="col-12 col-lg-6 order-0 order-lg-1">
                    <img class="img-fluid w-50 w-lg-100" src="/assets/img/Hero/pc1.png" alt="Animal Adoption" />
                  </div>
                </div>
              </div>
            </section>
          </div>
{% endblock %}