{% extends 'main.html' %}
{% load static %}
{% block title %}Dashboard - Animal Welfare{% endblock title %}
{% block content %}
          <div class="container" data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0">
            <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-9" id="home">
                <div class="container mx-auto px-6 py-8">
                    <!-- First Row -->
                    <div class="flex flex-wrap -m-10 -mt-20">

                        <div class="w-full md:w-1/2 p-4">
                            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                                <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/adopt.jpg' %}" alt="">
                                <div class="absolute inset-0 flex items-center justify-center">
                                    <a href="{% url 'baseapp:animals_for_adoption' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-opacity-1 bg-transparent p-5 rounded">
                                       Want to Adopt Pet?
                                    </a>
                                </div>
                            </div>
                        </div>
                
                        <div class="w-full md:w-1/2 p-4">
                            <div class="relative bg-black rounded-lg overflow-hidden shadow">
                                <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/daycare.jpg' %}" alt="">
                                <div class="absolute inset-0 flex items-center justify-center">
                                    <a href="{% url 'baseapp:animals_for_daycare' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                        Up for Daycare!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex justify-center pt-5 md:pt-20">
                      <div class="w-full md:w-1/2 p-4">
                          <!-- Card Container -->
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/petcare.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <!-- Button -->
                                  <a href="{% url 'baseapp:products_for_sale' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded flex items-center justify-center">
                                      Browse Petcare Products
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  
                  
                  <!-- Second Row -->
                  <div class="flex flex-wrap -m-4">
                      <!-- Manage Users Card -->
                      <div class="w-full md:w-1/2 p-4">
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/facts.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <a href="{% url 'baseapp:animal_info' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                      Learn Animal Facts
                                  </a>
                              </div>
                          </div>
                      </div>
                      
                      <!-- Manage Users Card -->
                      <div class="w-full md:w-1/2 p-4">
                          <div class="relative bg-black rounded-lg overflow-hidden shadow">
                              <img class="h-56 w-full object-cover object-center opacity-75" src="{% static 'img/extras/know.jpg' %}" alt="Manage Users">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <a href="{% url 'baseapp:know_before' %}" class="text-white hover:underline font-bold text-xl md:text-2xl lg:text-3xl bg-transparent p-5 rounded">
                                      Know before adoption
                                  </a>
                              </div>
                          </div>
                      </div>
                      
                      

                  </div> 
                </div>
                
                <div class="row g-4 g-lg-6 g-xl-7 align-items-center">
                  <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <p class="fs-8 fs-md-7 fs-xxl-6 text-success fw-bold mb-x1 text-capitalize">we have got you covered </p>
                    <h1 class="fs-5 fs-md-3 fs-xxl-2 text-secondary text-capitalize fw-light mb-4">However Popular or <br class="d-none d-md-block d-lg-none" /><span class="fw-bold">rare </span><br class="d-none d-xl-block d-xxl-none" /><br class="d-sm-none" />it is</h1>
                    <p class="fs-8 fs-md-11 fs-xxl-7 text-primary mb-5 mb-lg-6 mb-xl-7 fw-light">
                      Our ..............;
                      ____________________.
                    </p>
                    <button class="btn btn-gradient fs-8 d-inline-flex"><span>explore catalog</span><span class="uil uil-arrow-right"></span></button>
                  </div>
                  <div class="col-12 col-lg-6 order-0 order-lg-1"><img class="img-fluid w-50 w-lg-100" src="/assets/img/Hero/pc1.png" alt="" /></div>
                </div>
              </div>
            </section>
            <section class="mb-9 mb-lg-10 mb-xxl-11">
              <div class="row g-4">
                <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="/assets/img/icons/Counter_1.png" alt="" />
                  <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2 counter-delivared" data-countup='{"endValue":9124201,"autoIncreasing":true}' style="font-variant-numeric: lining-nums proportional-nums;">0</h1>
                  <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                    Successful <br class="d-none d-xl-block d-xxl-none" />Deliveries</p>
                </div>
                <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="/assets/img/icons/Counter_2.png" alt="" />
                  <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2" data-countup='{"endValue":36487}' style="font-variant-numeric: lining-nums proportional-nums;"> 0</h1>
                  <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                    Happy <br class="d-none d-xl-block d-xxl-none" />customers </p>
                </div>
                <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="/assets/img/icons/Counter_3.png" alt="" />
                  <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2" data-countup='{"endValue":400,"suffix":"+"}' style="font-variant-numeric: lining-nums proportional-nums;"> 0</h1>
                  <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                    Growing <br class="d-none d-xl-block d-xxl-none" />Catalog </p>
                </div>
              </div>
            </section>
      
            <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-1" id="support">
              <div class="row g-4 g-lg-6 g-xl-7 pt-6">
                <div class="d-none d-lg-block col-lg-6 text-center"><img class="img-fluid" src="/assets/img/illustrations/women_watering.png" alt="" /></div>
                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center mt-0">
                  <p class="fs-8 fs-md-7 fs-xxl-6 text-success fw-bold my-0 text-capitalize">join us </p>
                  <h1 class="fs-5 fs-lg-4 fs-xl-3 text-secondary text-capitalize fw-light mt-3 mb-4">
                    Subscribe to <br />our <span class="fw-bold">Newsletter</span></h1>
                  <p class="text-success fs-8 fs-lg-7 text-capitalize beginner-guide my-4">Get Our <span class="fw-bold">Beginners Guide To Plant Parenthood </span><br class="d-none d-xxl-block" />for free </p>
                  <form method="POST" onsubmit="return false;">
                    <div class="input-group position-relative">
                      <input class="form-control email-input" type="email" name="email" placeholder="your email address" />
                      <button class="btn shadow-none submit-button position-absolute end-0" type="submit"><span class="uil uil-arrow-right"></span></button>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
{% endblock %}